* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.animal-container {
    display: grid; /* Grid enable */
    max-width: 600px;
    margin: 0 auto;
    gap: 10px; /* Boxes ke beech gap */
    
    /* 3 barabar columns */
    grid-template-columns: repeat(3, 1fr); 
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.item {
    overflow: hidden;
    border: 2px solid #eee;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* --- THE SPANNING MAGIC --- */

.big-portrait {
    /* Ye item 1st column se shuru hokar 3rd line tak jayega (2 columns) */
    grid-column: 1 / 3; 
    /* Ye 1st row se lekar 3rd line tak jayega (2 rows) */
    grid-row: 1 / 3; 
    
    border: 4px solid #ff4757; /* Highlight karne ke liye */
    z-index: 1; /* Layering: Ise upar rakhne ke liye */
}

/* Hover effect */
.item:hover img {
    filter: grayscale(100%);
    cursor: pointer;
    transition: 0.3s;
}