* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
background-color: #f1f1f1;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

.form-container {
    background-color: white;
    padding: 30px;
    border: 1px solid #ccc;
    width: 450px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    margin-bottom: 5px;
    font-size: 2.2rem;
}

.subtitle {
    color: #555;
    margin-bottom: 20px;
}

.subtitle {
    color: #555;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: bottom 8px; 
}

input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f9f9f9;
}

input:focus {
    background-color: #ddd;
    outline: none;
    border: 1px solid#555;
}

.registerbtn {
    background-color: #e7e7e7;
    color: black;
    padding: 12px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    transition: 0.3s;
}

.registerbtn:hover {
    background-color: #ddd;
}

.signin {
    text-align: center;
    margin-top: 20px;
}

signin a {
    color: dodgerblue;
    text-decoration: none;
}

.signin a:hover {
    text-decoration: underline;
}