@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #121212; /* Dark background */
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    width: 900px;
    height: 600px;
    border: 1px solid #333;
    background-color: #000;
}

/* --- LEFT SIDE --- */
.left-visuals {
    flex: 1; /* Takes 50% space */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
}

.insta-logo {
    width: 50px;
    margin-bottom: 20px;
}

.left-visuals h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    line-height: 1.2;
}

.phone-img {
    width: 80%;
    align-self: center;
}

/* --- RIGHT SIDE --- */
.right-form {
    flex: 1; /* Takes 50% space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #121212;
}

.login-box {
    background-color: #000;
    border: 1px solid #333;
    padding: 40px;
    width: 350px;
    text-align: center;
    margin-bottom: 10px;
}

.login-box h2 {
    font-weight: 500;
    margin-bottom: 30px;
}

/* Floating Label Style Inputs */
.input-field {
    position: relative;
    margin-bottom: 15px;
    background: #1c1c1c;
    border: 1px solid #333;
    border-radius: 3px;
}

.input-field input {
    width: 100%;
    padding: 14px 10px 2px;
    background: transparent;
    border: none;
    color: white;
    font-size: 12px;
    outline: none;
}

.input-field label {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 12px;
    color: #8e8e8e;
    transition: 0.2s ease all;
    pointer-events: none;
}

/* Input focus logic for floating label */
.input-field input:focus + label,
.input-field input:valid + label {
    top: 2px;
    font-size: 10px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #0095f6; /* Instagram Blue */
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

/* Divider styling */
.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.line { flex: 1; height: 1px; background-color: #333; }
.or-text { margin: 0 15px; color: #8e8e8e; font-weight: bold; font-size: 13px; }

/* Links styling */
.fb-login {
    display: block;
    color: #385185;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 15px;
}

.forgot-pass {
    color: #0095f6;
    font-size: 12px;
    text-decoration: none;
}

/* Signup Box */
.signup-box {
    background-color: #000;
    border: 1px solid #333;
    padding: 20px;
    width: 350px;
    text-align: center;
}

.signup-box a {
    color: #0095f6;
    text-decoration: none;
    font-weight: bold;
}